[submodule "submodules/multitaper"]
	path = submodules/multitaper
	url = git@github.com:preraulab/multitaper.git
[submodule "submodules/multicomp_test"]
	path = submodules/multicomp_test
	url = git@github.com:preraulab/multicomp_test.git
[submodule "toolbox/helper_functions/multitaper_spectrogram"]
	path = toolbox/helper_functions/multitaper_spectrogram
	url = git@github.com:preraulab/multitaper.git
[submodule "toolbox/helper_functions/statistical_tests"]
	path = toolbox/helper_functions/statistical_tests
	url = git@github.com:preraulab/multicomp_test.git
[submodule "toolbox/helper_functions/artifact_detection"]
	path = toolbox/helper_functions/artifact_detection
	url = git@github.com:preraulab/artifact_detection.git
[submodule "toolbox/helper_functions/read_EDF"]
	path = toolbox/helper_functions/read_EDF
	url = git@github.com:preraulab/read_EDF.git
[submodule "toolbox/helper_functions/CSSuicontrols"]
	path = toolbox/helper_functions/CSSuicontrols
	url = git@github.com:preraulab/CSSuicontrols.git
